<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bus</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_template.css' %}">
</head>
<body>
    <div class="container">
        <h2>Add Bus</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} <!-- Render the form fields -->
            <button type="submit">Add Bus</button>
        </form>
        <a href="{% url 'home_page' %}">Back to Bus List</a>
    </div>
</body>
</html>
