<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add an Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_template.css' %}">
</head>
<body>
    <div class="container">
        <h2>Add Employee</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }} <!-- Render the form fields -->
            <button type="submit">Add Employee</button>
        </form>
        <a href="{% url 'home_page' %}">Back</a>
    </div>
</body>
</html>
